body{
    background-color: black;
    color: bisque;

}

button{
    width: 100px;
    border: 2px solid black;
    height: 50px;
    color: cornsilk;
    color: black;
    border-radius: 22px;

}

.bu{
    width: 75px;
    border: 2px solid black;
    height: 55px;
    color: cornsilk;
    color: black;
    border-radius: 22px;
}

.chats{
    background-color: rgb(35, 35, 35);
    padding: 20px;
    border-radius: 30px;
    display: inline-block;
    margin: 20px;
    
}
.msg {
    background-color: black;
    padding: 5px 10px;
    border-radius: 20px;
}

