<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        table,
        td,
        th {
            border: 2px solid black;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
            <th>Edit user</th>
        </tr>

        <% for(let item of user) { %>
            <tr>
                <td>
                    <%= item.id %>
                </td>
                <td>
                    <%= item.email %>
                </td>
                <td>
                    <%= item.username %>
                </td>
                <td>
                    <form method="get" action="/user/<%= item.id %>/edit">
                        <button>Edit Username</button>
                    </form>
                </td>
            </tr>
            <% } %>
    </table>
</body>

</html>