<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Write</title>
    <link rel="stylesheet" href="\new.css">
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" placeholder="Who Are you ?" name="form"> <br><br>
        <textarea name="msg">Write uour hessage Here</textarea><br><br>
        <input type="text" placeholder="add Reciver" name="to"><br><br>
        <button class="but">Create Chat</button>
    </form>
</body>
</html>