<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is My Home Page</h1>
    <h3> <%= 1 + 3 %> </h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi, doloremque voluptates possimus itaque praesentium nesciunt aliquid magnam optio nulla ipsam accusamus cupiditate atque? Nostrum laudantium, eos aspernatur quibusdam sunt molestias.</p>
</body>
</html>