<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Diece</title>
</head>
<body>
    <h1>Roll Diece</h1>
    <h2>Dice is rolled and you got: <%= RAndom %></h2>

     <% if(RAndom == 6) { %>
        <h1>Nice Roll!! Roll again!!</h1>
    <%}%>
</body>
</html>